<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Sorting Hat</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">First Name</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Harry">
        </div>
        <div class="form-group">
          <label for="input_animal">Pick an Animal</label>
          <select class="form-control" name="input_animal" id="input_animal">
            <option>Lion</option>
            <option>Eagle</option>
            <option>Snake</option>
            <option>Badger</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_personality">What personality trait best suits you?</label>
          <select class="form-control" name="input_personality" id="input_personality">
            <option>Loyalty</option>
            <option>Bravery</option>
            <option>Ambition</option>
            <option>Wisdom</option>
          </select>
        </div>
        <div class="form-group">
            <label for="extrainfo">Select some more traits that describe you. (Hold Ctrl to Multi-select)</label>
            <select multiple class="form-control" name="extrainfo" id="extrainfo">
                <option>Honest</option>
                <option>Driven</option>
                <option>Intelligent</option>
                <option>Determined</option>
                <option>Patient</option>
                <option>Charming</option>
                <option>Inquisitive</option>
                <option>Idealistic</option>
                <option>Courageous</option>
                <option>Creative</option>
                <option>Fair</option>
                <option>Prideful</option>
            </select>
        </div>
        <div class="form-group">
          <label for="input_freeform">If you would like to say anything to the Sorting Hat, this is your chance.</label>
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if intro %} {{ intro }} {% endif %}
      <br />
      {% if body %} {{ body }} {% endif %}
      <br />
      {% if outro %} {{ outro }} {% endif %}
    </div>
  </body>
</html>

